{% extends 'layout.html' %}

{% block body %}
	
	<div class="jumbotron text-left">
		<h1 class="text-center">About Us</h1>
		<p class="lead" >Flask is supported by an active, helpful community. Get involved by joining the mailing list and IRC channel. Discussion for developers using Flask as well as working on the core is welcome.</p>
		<p class="lead" >
		If you want to spread the word, there is also a selection of badges and logos you can use on your own website. There are also shirts and mugs available at the Flask store, and stickers too.</p>
	</div>

{% endblock %}